
<div class="container-fluid p-0 m-0" >
    <div class="row h-100 m-0 p-0">
        <div class="col-12 m-0 p-0 d-flex">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 300px; max-height: 100vh;
"  >
                <a href="https://github.com/dovepa/AnnotationOSD"
                   class="d-flex align-items-center mb-3 mb-md-0  text-white text-decoration-none center">
                    <span class="fs-4">NG Annotation OSD</span>
                </a>
                <a href="https://github.com/dovepa" class="d-flex center align-items-center mb-3  text-white text-decoration-none">
                    Made By DovePA</a>
                <a href="https://www.tchek.ai/" class="d-grid center align-items-center   text-white text-decoration-none">
                    <span style="text-align: center;" class="mb-3" >Special thanks to Tchek for making this research project open source</span>
                    <img style="width: 119px; height: auto;  margin: auto;"src="assets/Logo.svg">
                </a>

                <hr>
                <button type="button" class="btn btn-light m-2" *ngIf="!player.isDrawing()" (click)="testCanvas()">
                    <i class="bi bi-info-circle-fill"></i> Run Test
                </button>

                <button type="button" class="btn btn-success m-2" (click)="player.unsetHome(true)">
                    <i class="bi bi-house"></i> Go Home
                </button>

                <button type="button" class="btn btn-primary m-2" *ngIf="!player.isDrawing()" (click)="newMarker('MarkerRect')">
                    <i class="bi bi-bounding-box-circles"></i> New Marker Rect
                </button>

                <button type="button" class="btn btn-primary m-2" *ngIf="!player.isDrawing()" (click)="newMarker('MarkerRound')">
                    <i class="bi bi-circle"></i> New Marker Round
                </button>

                <button type="button" class="btn btn-primary m-2" *ngIf="!player.isDrawing()" (click)="newMarker('MarkerPoly')">
                    <i class="bi bi-pentagon"></i> New Marker Poly
                </button>

                <button type="button" class="btn btn-danger m-2" *ngIf="player.isDrawing()"  (click)="player.cancelDrawMode();">
                    <i class="bi bi-x"></i> Cancel
                </button>

                <button type="button" class="btn btn-danger m-2" *ngIf="!player.isDrawing()" (click)="player.clear()">
                    <i class="bi bi-x"></i> Clear canvas
                </button>

                <hr>
                <div style="overflow-y: auto; height: 100%;">
                    <div class="marker " *ngFor="let marker of markerList" [ngClass]="{'selected' : player.getSelectedObjectId() === marker.id}">
                    <div class="d-flex">
                        <span class="id">{{marker.id}}</span>
                        <button type="button" class="btn btn-success me-1" (click)="player.setHomePointMarker(marker.id, true)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="player.deleteMarker(marker.id)">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                    <div class="d-grid">
                        <span class="data" *ngIf="marker.width">width : {{marker.width.toFixed(8)}}</span>
                        <span class="data" *ngIf="marker.height">height : {{marker.height.toFixed(8)}}</span>

                        <span class="data" *ngIf="marker.centerX">centerX : {{marker.centerX.toFixed(8)}}</span>
                        <span class="data" *ngIf="marker.centerY">centerY : {{marker.centerY.toFixed(8)}}</span>
                        <span class="data">unit : {{marker.unit}}</span>

                        <span class="data d-grid" *ngIf="marker.dots">
                            <span>Point List :</span>
                            <span *ngFor="let dot of marker.dots">x : {{dot.x.toFixed(5)}}, y : {{dot.y.toFixed(5)}}</span>
                        </span>
                    </div>
                    </div>
                </div>
            </div>
                <div id="player" class="canvas"></div>
        </div>
    </div>
</div>